@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Josefin+Sans|Karla&display=swap');

/* RESET */
*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main);
}

/* MOZILLA disable ugly accessibility stuff, sorry */
button::-moz-focus-inner {
    border: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    background: transparent;
}

/* PSEUDO_SELECTORS */
::selection{
    background-color: #aaaaaa;
}

::placeholder{
    color: var(--faint);
    font-size: 1.1rem;
    text-align: center;
}

html {
    font-size: 100%;
  }

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: var(--bg-color);
    min-height: 100vh;
}

#todoBox{
    margin: 30px 12px;
    max-width: 600px;
    align-self: center;
    flex-grow: 1;
}
@media only screen and (max-width: 414px) {
    #tdList{
        max-width: 90%;
    }
    html{
        font-size: 1em;
    }

}

h1{
    text-align: center;
    color: var(--main);
    font-size: 2.7rem;
    filter: var(--glow);
}
#subtitle{
    font-size: 1rem;
    text-align: center;
    margin-top: 2px;
    filter: var(--glow);
}

#insertBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2rem 1rem 2rem 0;
}

input#inp{
    width: 80%;
    border-radius: 10px;
    background: var(--bg-color);
    color: var(--main);
    -webkit-box-shadow: var(--inp-shadow);
    box-shadow: var(--inp-shadow);
    padding: 0.8rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

button#add{
    font-size: 2.0rem;
    width: 2.9rem;
    height: 2.9rem;
    margin-left: 2rem;
    color: var(--main);
    cursor: pointer;
    border-radius: 100%;
    background: var(--main-bg);
    -webkit-box-shadow: var(--main-bs);
    box-shadow:  var(--main-bs);
}

button.check{
    font-size: 1.3rem;
    color: var(--main);
    width: 2.6rem;
    height: 2.6rem;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 8px;
    background: var(--main-bg);
    -webkit-box-shadow: var(--inp-shadow);
    box-shadow:  var(--inp-shadow);
}

/* ICONS */
.fa-plus{
    display: inline-block;
    text-align: center;
    font-size: 50%;
    line-height: 100%;
    vertical-align: middle;
    filter: var(--glow);
}

.fa-check{
    display: inline;
    opacity: 0;
    text-align: right;
    vertical-align: middle;
    filter: var(--glow);
}

.done{
    opacity: 1;
}
.actionPreview{
    opacity: 0;
}


#tdList{
    margin: 35px auto;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background: var(--bg-color);
    -webkit-box-shadow:  var(--main-bs);
    box-shadow:  var(--main-bs);
}
#tdList:empty, #tdList.alldone, #tdList.allundone, #tdList.nonedeleted, #tdList.allempty{
    box-shadow: none;
    animation: none;
    margin: 5rem 0;
}
#tdList:empty::after{
    display: block;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: var(--faint);
}

.alldone::after, .allundone::after, .nonedeleted::after, .allempty::after{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: var(--faint);
}

.allempty::after{
    content: 'Nothing to show yet';
}
.alldone::after{
    content: 'No tasks to do here';
}
.allundone::after{
    content: 'No tasks done yet';
}
.nonedeleted::after{
    content: 'No items in the trash';
}

.grow{
    animation: grow 800ms ease-in-out 1;
}
.shrink{
    animation: shrink 800ms ease-in-out 1;
}

td{
    padding: 10px 12px;
}
td:last-child{
    padding-right: 10px;
    text-align: right;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    padding: 3px;
    min-width: 50px;
    word-wrap: break-word;
    word-break: break-all;
    cursor: move;
    filter: var(--glow);
}

.marked{
    text-decoration: line-through;
}


textarea.editForm{
    padding: 8px 5px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--main);
    border-radius: 3px;
    -webkit-box-shadow: var(--inp-shadow);
    box-shadow: var(--inp-shadow);
    background-color: var(--bg-color);
    resize: none;
    word-break: break-all;
}


#filterControl{
    display: flex;
    justify-content: space-between;
    text-align: center;
    filter: var(--glow);
}

.options-btn{
    padding: 8px 4px;
    margin: 0 10px;
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.btnViewState{
    border-bottom: 1px solid var(--main);
}

.dragOver{
    /* box-shadow: 0 -5px 5px -5px #d80053; */
    border: 2px dashed var(--main);
    filter: var(--glow);
}

.dragenter-btn{
    filter: var(--glow);
}

#secondaryOptions{
    display: flex;
    justify-content: space-between;
    text-align: center;
    filter: var(--glow);
}

.drag-general{
    border: 1px dashed var(--faint);
    border-radius: 5px;
    padding: 10px 20px;
}

.desc-btn{
    cursor: pointer;
}
.knob{
    margin: 2px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--main);
    transform: rotate(-90deg);
    transition: all 300ms linear;
    filter: var(--glow);
}
.knobRotate{
    transform: rotate(0deg);
}

.grow-Y{
    animation: grow-Y 300ms ease-in-out;
}
.shrink-Y{
    animation: shrink-Y 300ms ease-in-out;
}

.desc-area{
    width: 100%;
    resize: vertical;
    font-size: 1.1rem;
    padding: 12px 12px;
    border-radius: 4px;
    -webkit-box-shadow: var(--inp-shadow);
    box-shadow: var(--inp-shadow);
    background-color: var(--bg-color);
}
.hidden{
   display: none;
}

/* ANIMATIONS */

@keyframes grow {
    from { transform: scale(0) }
    to   { transform: scale(1) }
}

@keyframes shrink {
    from   { transform: scale(1) }
    to { transform: scale(0) }
}

@keyframes grow-Y {
    from   { transform: scaleY(0); transform-origin: top center;}
    to { transform: scaleY(1); transform-origin: top center;}
}
@keyframes shrink-Y {
    from   { transform: scaleY(1); transform-origin: top center;}
    to { transform: scaleY(0); transform-origin: top center;}
}

#night-icon{
    position: absolute;
    font-size: 1.5rem;
    top: 1.4rem;
    left: 1.2rem;
    cursor: pointer;
    color: var(--main);
    filter: var(--glow);
}

#user-box{
    text-align: center;
}

/*  LOGIN REGISTER Buttons etc.  */
.userBtn{
    font-size: 0.8rem;
    padding: 8px 10px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    color: var(--main);
    filter: var(--glow);
    border-bottom: 1px solid transparent;
}

.userBtn:hover{
    border-bottom: 1px solid var(--main);
}

/* FOOTER */
#footer{
    width: 100%;
    flex-shrink: 0;
    z-index: 5;
    text-align: center;
    margin: 40px auto 25px auto;
    font-size: 0.7rem;
}

/* POP-UP STUFF */

#set-icon{
    position: absolute;
    font-size: 1.5rem;
    top: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
    color: var(--main);
    filter: var(--glow);
}

#shade{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}

#popup{
    z-index: 10;
    min-width: 200px;
    line-height: 1.5;
    background-color: var(--bg-color);
    border-radius: 12px;
    box-shadow:  var(--main-bs);
    animation: grow 300ms ease-in;
    font-size: 1.3rem;
}

#w-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    padding: 12px 10px 12px 20px;
    background-color: var(--theme);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#w-title{
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--faint);
    font-size: 1.8rem;
    filter: var(--glow);
}

#closeBtn{
    margin: 0;
    padding: 3px 5px 0 0;
    font-size: 1.2rem;
    filter: var(--glow);
}

#closeBtn i:hover{
    color: #e74343;
    cursor: pointer;
}

#w-body{
    padding: 0px 20px;
}

.w-body-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 0;
    margin: 0;
    border-bottom: 1px solid var(--theme);
    filter: var(--glow);
}
.w-body-part:last-child{
    border-bottom: 0;
}
.w-body-part button{
    padding: 10px 10px;
}
#clearList:hover{
    color: #e74343;
    border-bottom: 1px solid #e74343;
}
#clearList:hover i{
    color: #e74343;
}

.opt{
    max-width: 250px;
    padding: 0px 25px 0px 0px;
    margin-bottom: 0px;
}

/* RESET Select */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
} 

/* NEW Select */
.select-wrapper{
    position: relative;
    border-bottom: 1px solid var(--faint);
    /* padding-right: 20px; */
}

select#visuals{
    cursor: pointer;
    background-color: var(--main-bg);
    margin: 0;
    text-align: left;
    padding-right: 20px;
    width: 100%;
    font-size: 1.2rem;
}

#visuals > option{
    background: var(--main-bg);
    color: var(--main);
    outline: none;
}

/* CSS Arrow down for select */
.arrow-down{
    position: absolute;
    left: 93%;
    top: 34%;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--main);
}


/* MEDIA QUERIES */

/* disable false HOVER on TOUCH devices */
@media not all and (pointer: coarse) {
    button.check:hover .fa-check{
        display: inline;
        color: var(--main);
        filter: var(--glow);
        opacity: 0.5;
    }
    .actionPreview:hover{
        opacity: 0.5;
    }
    .options-btn:hover{
        border-bottom: 1px solid var(--faint);
    }
}

